:root {
    --white-color: #fff;
    --black-color: #000;
    --brown-color: #6E6E73;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    line-height: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5F5F7;
}

/* CSS IN GENERAL */

.none-address-style {
    text-decoration: none;
    list-style: none;
}

.border-radius-shadow {
    border-radius: 16px;
    box-shadow: 0 0 10px 0.1px #d9d9d9;
}

.hover-style {
    transition: transform .5s ease;
}

.hover-style:hover {
    transform: scale(1.01);
}

/* HEADER */

.header {
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--white-color);
    padding: 8px;
    margin: 0;
    background-color: #313132;
}

#header-nav {
    display: flex;
    justify-content: space-around;
}

.nav-items {
    text-decoration: none;
    color: var(--white-color);
}

.nav-icons  {
    color: var(--white-color);
    font-size: 12px;
    /* padding: 0 2rem; */
}

/* SECTION */

/* First-section */

.section-intro {
    display: block;
    padding-bottom: 80px;
}

.section-nav-row {
    display:flex;
    justify-content: space-around;
    padding: 4rem 4rem;
}

.header-content {
    line-height: 3rem;
    font-size: 44px;
    margin-top: auto;
}

.nav-row-chat {
    display: inline-flex;
    flex-direction: column;
}

.nav-row-chat-section {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.nav-row-chat-section-img {
    height: 30px;
    padding-right: 10px;
}

.nav-row-chat-title {
    font-weight: bold;
    color: #1D1D1F;
}

.nav-row-chat-link {
    color: #0066CC;
}

.nav-row-chat-content {
    font-size: 14px;
    line-height: 10px;
}

.header-details {
    color: var(--brown-color);
}

.section-nav-devices-list {
    display: flex
}

.device-photo {
    height: 7rem;
}

/* Second section */

.section-nav-devices-list {
    width: 100%;
}

.devices-list-items {
    padding: 18px 18px 0px;
}

.device-photo {
    max-height: 78px;
    display: block;
    padding-bottom: 16px;
}

.device-name {
    text-align: center;
    width: 100%;
    display: inline-block;
    color: var(--black-color);
}

.device-name:hover {
    text-decoration: underline;
}
/* MAIN */
/* Main first top devices */

.main-first-top-devices {
    display: flex;
    flex-direction: column;
    padding: 0 0 54px;
}

.main-header {
    font-size: 28px;
    display: block;
    padding: 0 0 36px;
}

.top-devices-intro-content {
    display: flex;
}

.top-devices-intro-items {
    padding: 0px 20px 0px 0px;
    position: relative;
    color: var(--white-color);
}

.text-black-reflect {
    color: var(--black-color);
}

.intro-items-info {
    position: absolute;
    padding: 30px;
    width: 100%;
    max-width: 400px;
}

.items-info-name {
    font-size: 12px;
}

.items-info-features {
    font-size: 28px;
    padding: 10px 0 10px;
}

.items-info-price {
    font-size: 17px;
}

/* Main second support */

.support-detail-nav {
    display: flex;
    position: relative;
    padding: 0 0 54px;
}

.support-detail-nav-item-intro,
.nav-items-col-intro {
    position: absolute;
    color: var(--black-color);
}

.detail-nav-items-col {
    padding: 0 14px 12px 14px;
    display: inline-block;
}

.support-detail-nav-items {
    display: flex;
    flex-direction: column;
}

.support-detail-nav-item-intro {
    padding: 54px 50px 0px 40px;
    max-width: 480px;
}

.nav-items-col-intro {
    font-size: 24px;
    padding: 55px 50px 0px 30px;
    max-width: 480px;
}

.nav-item-col-intro-left {
    max-width: 305px;
}

/* Main third store */

/* Main fourth accessories */


.fourth-accessories-nav {
    display: flex;
}

.fourth-accessories-nav-box {
    position: relative;
}

.accessories-nav-item-main {
    position: absolute;
}

.accessories-nav-item {
     ;
}
/* .accessories-nav-item-header,
.accessories-nav-item-detail,
.nav-item-color,
.nav-item-accessories-status,
.accessories-nav-item-name,
.accessories-nav-item-price {
    position: absolute;
} */

.accessories-nav-item-header {
    font-size: 28px;
}

.accessories-nav-item-img {
    padding-top: 41px;
}

.nav-item-color-dot {
    float: right;
    list-style: none;
    height: 12px;
}

.color-dot-img {
    height: 12px;
}

/* footer nav */
